.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.div {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.p {
  color: rgb(73, 63, 63);
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  width: 12ch;
  animation: typing 1s steps(13), blink 0.4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  60% {
    border-color: transparent;
  }
}

.input {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40px;
  margin: 0 0 8px;
  padding: 5px 39px 5px 11px;
  border: solid 1px #dadada;
  box-sizing: border-box;
  border: none;
  outline: #e9967a;
}

.button {
  width: 47%;
  height: 50px;
  display: inline-block;
  color: white;
  background-color: #e9967a;
  margin: 20px 0px 0px 10px;
  border-radius: 8;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
}
