.container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.form {
  display: block;
  justify-content: center;
  align-items: center;
}

.header {
  /* justify-content: center;
    align-items: center; */
  margin: 10px;
  padding: 10px;
}

.titleInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 30px 0px;
  padding: 10px 10px;
  border: none;
  outline: #e9967a;
}

.writer {
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 40px;
}

.writerInput {
  display: inline;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 0px 10px;
  padding: 5px;
  border: none;
  outline: #e9967a;
}

.textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  margin: 20px 0px 30px 0px;
  padding: 30px;
  border: none;
  outline: #e9967a;
}

.button {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  background-color: #e9967a;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  width: 250px;
  height: 50px;
  top: 500px;
  margin: 0px 0px 0px 45px;
  padding: 10px;
}

.span {
  margin: 0px 90px 0px 80px;
}
